:root {
    --primary-color: 166, 62, 0;
    --secondary-color: 71, 0, 172;
    --third-color: 0, 255, 159;
    --info-color: 23, 65, 81;
    --success-color: 0, 192, 83;
    --danger-color: 196, 22, 49;
    --light-color: 209, 224, 244;
    --dark-color: 0, 22, 32;
    --opacity-gradient-greater: 0.8;
    --opacity-gradient-lower: 0.25;
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'poppins';
}

body {
    width: 100vw;
    height: 100vh;
}

input {
    padding: 0.35rem 1.3rem;
    border-radius: 10rem;
    background-color: transparent;
    color: rgb(var(--light-color));
    border: solid 1px rgb(var(--light-color));
}

input:focus {
    box-shadow: 1px 1px 3px rgb(var(--light-color));
}

button {
    padding: 0.35rem 1.3rem;
    border-radius: 10rem;
    transition: transform ease-out 0.2s;
    background-color: transparent;
    color: rgb(var(--light-color));
    border: solid 1px rgb(var(--light-color));
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:active {
    transform: scale(1.02);
}

.btn-primary {
    background: linear-gradient(140deg, rgba(var(--primary-color), var(--opacity-gradient-lower)) 30%, rgba(var(--primary-color), var(--opacity-gradient-greater)));
    border-color: rgb(var(--primary-color));
}

.btn-secondary {
    background: linear-gradient(140deg, rgba(var(--secondary-color), var(--opacity-gradient-lower)) 30%, rgba(var(--secondary-color), var(--opacity-gradient-greater)));
    border-color: rgb(var(--secondary-color));
}

.btn-info {
    background: linear-gradient(140deg, rgba(var(--info-color), var(--opacity-gradient-lower)) 30%, rgba(var(--info-color), var(--opacity-gradient-greater)));
    border-color: rgb(var(--info-color));
}

.btn-danger {
    background: linear-gradient(140deg, rgba(var(--danger-color), var(--opacity-gradient-lower)) 30%, rgba(var(--danger-color), var(--opacity-gradient-greater)));
    border-color: rgb(var(--danger-color));
}

.card {
    height: 11rem;
    margin-left: -2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
}

.box > .head {
    text-align: center;
    margin-bottom: 0.25rem;
}

.box > .body {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
}

.mb-1 {
    margin-bottom: 0.75rem !important;
}

.mb-2 {
    margin-bottom: 1rem !important;
}

.mx-auto {
    display: block;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    background: radial-gradient(rgb(var(--info-color)), rgb(var(--dark-color)));
    color: rgb(var(--light-color));
}

.container > section {
    display: flex;
    flex-direction: column;
    /* border: solid 1px red; */
}


.options {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.deck {
    flex-grow: 1;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6.9rem;
}

.deck > .card {
    margin-left: -6.9rem;
}


.logo {
    text-align: center;
}

.logo > img {
    height: 4rem;
}

#dealer-cards {
    padding-left: 0rem;
}

#dealer-cards > .card {
    margin-left: 0rem;
}


.score {
    flex-grow: 1;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    background: linear-gradient(140deg, rgba(var(--info-color), var(--opacity-gradient-lower)) 30%, rgba(var(--info-color), var(--opacity-gradient-greater)));
    border: solid 1px rgb(var(--info-color));
}


.players {
    grid-column: 1/4;
    flex-direction: row !important;
    justify-content: center;
    gap: 1rem;
}

.player {
    position: relative;
    min-width: 15rem;
}

.player > .head {
    padding: 0.5rem 0;
    transition: transform ease-out 0.3s;
}

.player > .actions {
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    transition: height ease-out 0.2s;
}

.player.winner::before {
    content: 'Ganador';
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    background: linear-gradient(140deg, rgba(var(--success-color), 0.85) 30%, rgba(var(--success-color), 0.95));
    border: solid 1px rgb(var(--success-color));
    color: rgb(var(--dark-color));
    text-align: center;
}

.player.loser::after {
    content: 'Perdedor';
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    background: linear-gradient(140deg, rgba(var(--danger-color), 0.85) 30%, rgba(var(--danger-color), 0.95));
    border: solid 1px rgb(var(--danger-color));
    color: rgb(var(--light-color));
    text-align: center;
}


.current > .head {
    /* background: linear-gradient(140deg, rgba(var(--third-color), var(--opacity-gradient-lower)) 30%, rgba(var(--third-color), var(--opacity-gradient-greater)));
    border: solid 1px rgb(var(--third-color)); */
    position: relative;
    color: rgb(var(--third-color));
    transform: scale(1.2);
}

.current > .head::before {
    position: absolute;
    content: '>>';
    left: 2rem;
}

.current > .head::after {
    position: absolute;
    content: '<<';
    right: 2rem;
}

.current > .actions {
    height: 2.5rem;
}


.modal {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--dark-color), 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.show {
    z-index: 1;
}

.modal.show > .modal-content {
    transform: scale(1);
}

.modal-content {
    width: 30rem;
    background-color: rgb(var(--info-color));
    box-shadow: 1px 1px 10px rgb(var(--dark-color));
    border-radius: 1rem;
    color: rgb(var(--light-color));
    transform: scale(0.5);
    transition: transform ease-out 0.3s;
}

.modal-content > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem 0.5rem 1rem;
}

.modal-content > .body {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.modal-content > .footer {
    padding: 0.5rem 1rem 0.75rem 1rem;
}


.player-input {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.player-input > input {
    flex-grow: 1;
}
